# Python cache
__pycache__/
*.py[cod]
*.egg-info/
*.pyc
*.pyo
*.pyd

# Virtual environment
env/
venv/
ENV/
*.env

# Django
*.sqlite3
staticfiles/
*.log

# IDEs / system
.vscode/
.idea/
.DS_Store
Thumbs.db
