@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

/* ROOT class to declare globals */
:root {
    --maroon: #8A1538;
    --forest-green: #00573F;
    --yellow: #FFB81C;
    --black: #000000;
}

/* SCHOLARSHIPS PAGE HEADER */

.header {
    width: 1430px;
    height: 170px;
    flex-shrink: 0;
    border-radius: 0 0 10px 10px;
    background: var(--MAROON, #8A1538);
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.25);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.headerLeft {
    display: flex;
    align-items:center;
    justify-content:flex-start;
    gap: 15px;
}

.upvLogo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

/* .source-serif-4-header h2 {
    color: white;
    font-family: "Source Serif 4", serif;
    font-size: 28px;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    justify-content: center;
    
}

.source-serif-4-header h3 {
    color: white;
    font-family: "Source Serif 4", serif;
    font-size: 18px;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 4px 0 0 0;
    text-align: center;
} */

.roboto-header-right,
.headerLeft {
    display: flex;
    align-items: center;
    gap: 30px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.headerLeft a {
    font-weight: 400;
    color: white;
    text-decoration: none;
    padding-left: 20px;
}

.headerLeft a:hover {
  color: var(--yellow);
}

.dropBtn {
    display: inline-flex;
    height: 65px;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
    background: none;
    border: none;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.dropBtn:hover {
    color: var(--yellow);
}

button:focus,
button:active {
  outline: none;
  box-shadow: none;
}

.notifBtn, .profileBtn {
    border: none;
    outline: none;
    background: none;
    color: white;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    transition: transform 0.1s ease, color 0.2s ease, filter 0.2s ease;
}

.notifBtn:hover {
    color: var(--yellow);

}

.notifBtn:active {
    transform: translateY(2px);
    filter: brightness(0.9);
}