/* postManagement.css */

.signupBtn {
    background: var(--forest-green);
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
}

.signupBtn:hover {
    opacity: 0.9;
    background-color: #125f49;
}